.imgUrl-column {
    max-width: 150px; /* Ajusta este valor según tus necesidades */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .imgUrl-column:hover {
    white-space: normal;
    word-wrap: break-word;
    overflow: auto;
  }

  .imgOnTable{
    width: 50px;
    border-radius: 10px;
  }