

.home h4{
    text-align: center;
}


.titleHOme{
    text-align: center;
    margin-top: 35px;
    color: gray;
}


.cuponesContainer{
    margin-top: 40px;
  
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    
}
